<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656814541531-5sihc6siboos8ogoftqoq5nigk6c8k54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656814541531-5sihc6siboos8ogoftqoq5nigk6c8k54</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>656814541531-7re8rsvnjc3jo4taj6b5lj1t2lqm212r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDX1wwMS2R1TgvrcBCaWEsmDy33kWbpcc</string>
	<key>GCM_SENDER_ID</key>
	<string>656814541531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.esdmobil</string>
	<key>PROJECT_ID</key>
	<string>forthfl-74350</string>
	<key>STORAGE_BUCKET</key>
	<string>forthfl-74350.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656814541531:ios:f5d2652b8f96c79a40dafe</string>
	<key>DATABASE_URL</key>
	<string>https://forthfl-74350-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>